:root {
  --color-background: #DDD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  background-color: var(--color-background);
  color: #000;
}


h2 {
  font-size: 22px;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 16px;
}

.df-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

